body{
    margin:0px;
    background-color: rgb(229, 229, 229);
}
.headerpart{
    background-color: rgb(2, 183, 2);
    margin:0px;
    text-align: center;
    padding:20px;
    color:white
}
.Navigation{
    background-color:rgb(122, 199, 122);
    padding:15px;
    text-align: center;
    color: white;
}
.tags{
    display:grid;
    grid-template-columns:380px 210px 210px 210px 210px 210px 210px;
    margin-top: 50px;
    gap:10px;
    margin-left:20px;
    margin-right:20px;
}
.Filter{
    background-color: rgb(199, 254, 194);
    padding:10px;
    border-radius: 15px;
}
img{
    width: 200px;
    height:150px;
    border-radius: 15px;
}
.card{
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 15px;
    padding:5px;
}
.footer{
    padding:25px;
    background-color: rgb(1, 198, 1);
    text-align: center;
    margin-top:40px;
}

